# Core Data Science
numpy==2.4.1
pandas==2.3.3
scipy==1.17.0

# Machine Learning
scikit-learn==1.8.0
statsmodels==0.14.6

# Visualization
matplotlib==3.10.8
seaborn==0.13.2

# Utilities & Notebook Environment
tqdm==4.67.1
ipykernel==7.1.0
